*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
:root{
    --primeColor: rgb(87, 92, 87);
    --secondColor: rgb(71, 64, 64);
}
body{
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 10rem 1fr;
    height: 100vh;
}
header{
    grid-area: 1/1/1/3;
    background-color: var(--primeColor) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
header h1{
    margin-left: 15rem;
    color: rgb(62, 192, 71);
}
h2,h1{
    color: rgb(62, 192, 71);
}
.winstat{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    width: 15rem;
    border: 1px solid #000;
    height: 1rem;
    margin: 0 1rem;
    display: flex;
}
.blueBar{
    background-color: rgb(41, 41, 137);
    width: 50%;
    height: 100%;
}
.greenBar{
    background-color: rgb(27, 182, 117);
    width: 50%;
    height: 100%;
}
.drawBar{
    height: 100%;
    background-color: gainsboro;
}
.statBar{
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side{
    grid-area: 2/1/3/2;
    background-color: var(--secondColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: .3rem;
    color: rgb(62, 192, 71);
    font-weight: 900;
}
.side button{
    color: black;
    margin-top: 1rem;
    border-radius: .5rem;
    width: 5rem;
    padding: .2rem;
}
.side input{
    color: rgb(62, 192, 71);
    padding: .3rem;
}
main{
    background-color: var(--primeColor);
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playField{
    background-color: var(--sedondColor);
    width: 40rem;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:1rem;
    padding: 1rem;
}
.field{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field span{
    font-size: 9rem;
    animation: fadeIn .3s forwards
}

.XMarker{
    color: rgb(41, 41, 137);
}
.OMarker{
    color: rgb(27, 182, 117);
}
.playerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 3rem;
}
#playerOneName,
#playerOneWins{
    color: rgb(41, 41, 137);
}
#playerTwoName,
#playerTwoWins{
    color: rgb(27, 182, 117);
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
fieldset input{
    margin: .3rem 0;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
